/*clear default margins and paddings*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color:rgb(2,73,89);
}

/*Wraps everything*/
#page-wrap {
  max-width: 1100px;
  margin: 10px auto;
  padding: 20px 20px 0;
  border-style: ridge;
  border-width: 2px;
  background-color: rgb(9,33,64);
}

/*Header*/
#masthead {
  position: relative;
}
.logo {
  border-radius:30%;
}

a.logo {
  display: inline;
}

#masthead a:link, a:visited {
  text-decoration: none;
  color: white;
}

#logo-container #colinschindler {
  display:inline-block;
  font-size: 90px;
  text-decoration: none;
  margin-bottom: -10px;
  margin-left: 15px;
  padding-bottom: -10px;
}

#motto-container {
  margin-bottom:10px;
  display:flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

#logo-container hr {
  margin-top:10px;
}

@media screen and (max-width: 746px) {
  #colinschindler {
  margin: 0 auto;
  }

  .logo img {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  #masthead a {
    display:block;
    margin: 0 auto;
    text-align: center;
  }

  #logo-container {
    margin: 0;
    display: block;
    text-align: center;
  }

  #logo-container #colinschindler {
    margin: 0;
  }
  
  #motto-container {
    display: block;
    justify-content: center;
  }
  
  #motto-container div {
    margin:10px 0 10px 0;
  }
}

@media screen and (max-width: 405px) {
  #logo-container #colinschindler {
    font-size: 50px;
  }
  
  #motto-container div {
    margin-top:10px;
  }
}

.logo {
  display:inline;
  line-height: 0;
  max-width: 100%;
}

#masthead small {
  display: block;
  font-size: 30px;
  margin-top: -10px;
}
/*End Header*/

/*Use across all pages*/
.hover-link a{
  font-size: 25px;
  padding-right: 10px;
  padding-left: 10px;
}

.hover-link a:visited {
  text-decoration: none;
  color:red;
}

.hover-link a:link {
  text-decoration:none;
  color:red;
}

.hover-link a:hover {
  background-color:red;
  color:white;
  font-size: 30px;
  border-radius: 15px;
}
/*END Use across all pages*/

/*Print Sliders on Main Page*/
.prints-album {
  margin: 0 auto;
  text-align: center;
}

.glide__bullets button {
  padding: 17px;
}

.glide__slides img {
  max-width: 100%;
  max-height: 450px;
}

.glide__slides .lazy {
  max-width: 100%;
  max-height: 450px;
}

.glide, .glide2 {
  text-align: center;
}

.glide__arrow--prev {
  top:7%;
  left:12%;
}

.glide__arrow--next {
  top:7%;
  right:12%;
}

.glide__arrow a:hover {
  color:red;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .glide__arrow {
    opacity: 0;
  }
}
/*END Print Sliders on Main Page*/

/*Prints*/
.prints-images {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.print-info img {
  width: 100%;
}

.print-info ul {
  margin-left: 25px;
  font-size: 25px;
}

.print-info h2 {
  color: white;
}

.print-info .smalls {
  font-size: 30px;
  padding: 0px;
}

.bigs {
  font-size: 30px;
  padding: 0px;
}

.prints-albums .smalls {
  padding: 0;
  font-size: 25px;
  font-weight: bolder;
}

.album-image {
  border-style: outset;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paypal-button {
	margin:0 auto;
	text-align:center;
	width:150px;
	height:115px;
  font-size:23px;
  color:white;
  background-color:red;
  border:solid white 1px;;
  border-radius:25px;
}

.paypal-button table {
  padding-left: 3px;
}

/*white frame around Missouri River City at Night*/
.frame {
    margin:0 auto;
    margin-bottom: 10px;
    padding-top: 1px;
    width:830px;
    height:1230px;
    background-color: white;
    border-radius: 20px;
}
/*End Prints*/


.smalls {
  padding-left: 40px;
}

/*Charleston Cyclists SECTION*/
#random-cyclist-container {
  width: 100%;
}

#cyclist-img {
  display: block;
  margin:0 auto;
  border-radius: 5px;
  max-height: 600px;
  max-width: 100%;
  margin-bottom: 20px;
}

#random-cyclist-button {
  display: block;
  margin-top: 20px;
  margin: 0 auto;
  width: 400px;
  height: 30px;
  max-width: 100%;
  background-color:red;
  font-size: 20px;
  font-weight: 200;
  color: white;
  border: none;
  border-bottom: groove 5px;
  border-color: gold;
  border-radius: 3px 50px 3px 50px;
  box-shadow: 5px 2px 20px 0 white;
}

#random-cyclist-button:hover {
  color:red;
  font-weight:1000;
  background-color: white;
  border-radius: 50px 3px 50px 3px;
  box-shadow: 0 5px 20px 10px;
}

#random-cyclist-container button:focus {
  outline: 0;
}
/*END Charleston Cyclists SECTION END*/

/*HOMEPAGE*/
/* LATEST SECTION*/
#latest p {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

#latest-image {
	display: block;
  width: 96%;
  border-radius: 5px;
}

#latest-wrap p {
  font-size: x-large;
  text-align: center;
  width:95%;
  color:rgb(242,199,119);
}

#latest-wrap {
  width: 100%;
}

.latest-text {
  margin:0 auto;
  width:65%;
  font-size: 14px;
}

.latest-text:nth-child(2) {
  font-style: italic;
  font-size: 12px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .latest-text {
    width:100%;
  }

  /* .latest-contrast-box {
    width:100%;
  } */
  }
/* END - LATEST SECTION - END */

/* FREELANCING SECTION */
.freelancing-container {
  display: flex; 
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
}

#freelancing-left {
  width: 29%;
}

#freelancing-categories {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px 20px 0;

}

#freelancing-categories button {
  background-color: transparent;
  width: 125px;
  height: 25px;
  margin-bottom: 20px;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  color: red;
  box-shadow: 1px 2px 4px 4px red;
}

#freelancing-categories button:hover {
  background-color:red;
  color:white;
  font-weight: 900;
  font-style: italic;
  box-shadow: 6px 6px 8px 10px red;
}

.active {
  background-color:red;
  color:white;
  font-weight: 900;
  font-style: italic;
  box-shadow: 6px 6px 8px 10px red;
}

#freelancing-categories button:focus {
  outline: 0;
}

#freelancing-right {
  height: 100%;
  width: 70%;
}

#freelancing-right img {
  width: 100%;
  border-radius: 20px;
}

#freelancing-info {
  margin-bottom: 20px;
  text-align: center;
}

#freelancing-price {
  color: white;
}

.freelancing-description {
  text-align: center;
}

#freelancing-price {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  #freelancing-container {
    flex-flow: column;
  }

  #freelancing-right {
    order: 1;
    width:100%;
  }
  #freelancing-left {
    order: 2;
    width: 100%;
  }
}
/* END - FREELANCING SECTION - END */

/* TRAVEL JOURNALS SECTION */

#bloglist .smalls{
  display: block;
  font-size: 20px;
}

#trip-journals h1, h2 {
  margin-top: 25px;
  margin-bottom: 25px;
  color:white;
}

#trip-journals h2 {
  color:red;
}

#trip-journals h2:hover {
  color:white;
}

/* END TRAVEL JOURNALS SECTION */

/*MESHELL SECTION*/
#meshell {
  background-image: url('../images/meshell/meesh-and-sam.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.meshell-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 714px) {
  .meshell-container {
    justify-content: center;
  }

  #meshell {
    background-image: url('../images/meshell/meesh-and-sam-tall.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
  }
}

@media only screen and (max-width: 510px) {
  .meshell-container {
    justify-content: center;
  }



  #meshell {
    background-image: url('../images/meshell/meesh-guitar-whiteriver.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    border-radius: 25px;
    text-align: center;
  }
}

#meshell-social {
  margin-bottom:15px;
  padding:10px;
  display:flex;
  justify-content:space-around;
  width:300px;
  color:white;
  border:solid white 1px;
  border-radius:25px;
}

#meshell-social i{
  color:white;
}

#meshell-social a:hover {
  color:red;
}

@media screen and (max-width: 570px) {
  #meshell-social {
    width: 90%;
    margin: 0 auto;
  }
  .spotify-player iframe {
    margin:0 auto;
    width:100%;
  }
}

.spotify-player {
  margin:15px;
}

.wakeup-wrap {
  position: relative;
  margin:25px;
  text-align: center;
  width: 280px;
  padding: 5px;
  transform: rotate(10deg);
}

.wakeup-wrap img {
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 2px 2px 20px;
}

/*Adding price to corner of album art*/
.wakeup-img {
  position: relative;
}

.wakeup-price p {
  font-size: 80px;
  color: red;
  /*safari*/
  -webkit-transform: rotate(-25deg);
  /* Firefox */
  -moz-transform: rotate(-25deg);
  /* IE */
  -ms-transform: rotate(-25deg);
  /* Opera */
  -o-transform: rotate(-25deg);
}

.wakeup-price {
  position: absolute;
  margin-top: -25px;
  top: 0;
  left: 3%;
}

.paypal-button-wakeup {
  padding-left: 20px;
  transform: rotate(-21deg);
}

/* END MESHELL SECTION */
/*END HOMEPAGE*/

.smalls a {
  padding-right: 10px;
  padding-left: 10px;
}

.smalls a:visited {
  text-decoration: none;
  color:red;
}

.smalls a:link {
  text-decoration:none;
  color:red;
}

.smalls a:hover {
  background-color:red;
  color:white;
  font-size: 30px;
  border-radius: 15px;
}

/*Blog & Posts*/
.meshell {
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
}

.narrator {
  padding:5px;
  background-color:teal; 
  color:greenyellow;
}

#bloglist {
  margin-top: 20px;
  margin-bottom: 20px;
}

#bloglist small {
  margin-top: 10px;
  margin-bottom: 10px;
}

.posts {
  padding-left: 40px;
}

.posts a:link{
  text-decoration: none;
  color: red;
}

.posts a:visited {
  text-decoration: none;
  color: red;
}

.posts a:hover h2 {
  background-color: red;
  color:white;
  font-size: 26px;
  border-radius: 15px;
}

.blogPost img {
  display: block;
  margin: 0 auto;
}

.blogPost p, h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blogPost a:link {
  color:cornflowerblue;
}

.blogPost p {
  color: rgb(242,199,119);
}

.picDescript {
  margin: 20px;
  text-align: center;
  font-style: italic;
  color: deepskyblue;
}

.blogPost .blue-p {
  background-color: skyblue;
}

.blogNav {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}

.blogNav a {
  text-decoration: none;
  font-weight: bolder;
  color: red;
  margin: 20px;
}

@media screen and (max-width: 479px) {
  .blogNav a {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.blogNav a:hover {
  color:white;
  background-color: red;
  font-size: 23px;
}

.blog-print {
  border-style: outset;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog-print .new-print {
  text-align: center;
  color: red;
  font-size: xx-large;
}

.blog-prints-images {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.blog-smalls a {
  font-size: 28px;
}

.blog-smalls a:visited {
  text-decoration: none;
  color:red;
}

.blog-smalls a:link {
  text-decoration:none;
  color:red;
}

.blog-smalls a:hover {
  background-color:red;
  color:white;
  font-size: 30px;
  border-radius: 15px;
}

/*Previous Trips*/
.previousContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trip {
  position: relative;
  width: 300px;
  height: 300px;
  margin-bottom: 25px;
}

.tripImg {
  width: 300px;
  height: 300px;
}

.tripImg img {
  position: absolute;
  top: 0;
  border-radius: 26px;
  z-index: 2;
}

.tripDate {
  position: absolute;
  width: 300px;
  height:50px;
  top: 0;
  left: 0;
  background-color: rgba(2,73,89, 0.9);
  border-radius: 24px;
  text-align: center;
  z-index: 1;
}

.tripCaption {
  position: absolute;
  width: 300px;
  height: 50px;
  bottom: 0;
  background-color: rgba(9,33,64, 0.85);
  border-radius: 30px;
  text-align: center;
  z-index: 1;
}

.trip p {
  display: inline;
  top:0;
  font-size: 30px;
  color: red;
}

img:hover {
  z-index: 0;
}

/*Specific blog posts*/

/*From 2/14/17 boy girl beauty world*/
.circle-border {
  border-radius: 30%;
}

.bgbw section {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bgbw p,img,a {
  display: inline;
}

.bgbw img {
  height: 250px;
  margin-left: 5%;
  border: solid;
  border-width: 15px;
  border-color: skyblue;
}

.bgbw p {
  background-color: skyblue;
  margin-right: 5px;
}

.bgbw-wrap {
  position: relative;
  max-width: 1100px;
}

.main-img {
  position: relative;
  width: 100%;
}

.bgbw-icon {
  position: absolute;
  top: -10px;
  right: 0;
  margin-right: 10px;
  width: 20%;
}

.bgbw-icon img {
  width: 100%;
  border: ridge;
  border-width: 2px;
  border-color: skyblue;
  border-radius: 25%;
}

.bgbw-icon-2 {
  position: absolute;
  top: -10px;
  left: 0;
  margin-left: 10px;
  width: 20%;
}

.bgbw-icon-2 img {
  width: 100%;
}

.bgbw-icon-3 {
  position: absolute;
  top: -10px;
  left: 58%;
  margin-left: 10px;
  width: 20%;
}

.bgbw-icon-3 img {
  width: 100%;
}

.bgbw-icon-4 {
  position: absolute;
  top: -10px;
  right: 0;
  margin-right: 10px;
  width: 15%;
}

.bgbw-icon-4 img {
  width: 100%;
}

.bgbw-icon-5 {
  position: absolute;
  bottom: 0px;
  right: 10;
  margin-right: 10px;
  width: 15%;
}

.bgbw-icon-5 img {
  width: 100%;
}

.bgbw-icon-6 {
  position: absolute;
  top: -10px;
  right: 60%;
  margin-left: 10px;
  width: 20%;
}

.bgbw-icon-6 img {
  width: 100%;
}

/*END bgbw*/

/*END Blog & Posts*/

/*FOOTER*/
#social {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#social a {
  padding-left: 5%;
  padding-right: 5%;
}

#social a:visited {
  color:white
}

#social a:link {
  color:white
}

#social a:hover {
  color: red;
}

.print-title {
  color:red;
}
/*END FOOTER*/

/*Google iFrames*/
iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
	font-family: 'Architects Daughter', cursive;
}

p {
  font-size: 20px;
  color:rgb(242,199,119);
}

h1 {
	color: white;
	font-size: xx-large;
}

small {
	color:red;
	font-size: smaller;
}

.postdate {
  display: block;
  color: grey;
  padding: 0;
}