#page-wrap {
     max-width: 1100px;
     margin: 0 auto;
     padding: 20px 20px 0;
     border-style: ridge;
     border-width: 2px;
     background-color: white;
}

#masthead {
  position: relative;
}

#logo-container {
  font-size: 0;
}

a.logo {
  display: inline;
}

#masthead a:link, a:visited {
  text-decoration: none;
  color: #0f6930;
}

#logo-container #colinschindler {
  display:inline-block;
  font-size: 90px;
  text-decoration: none;
  margin-bottom: -10px;
  margin-left: 15px;
  padding-bottom: -10px;
}

.logo {
  display:inline;
  line-height: 0;
  max-width: 100%;
  margin-bottom: 0px;
}

#masthead small {
  display: block;
  font-size: 30px;
  margin-top: -10px;
}

#store img {
  width: 100%;
}

#store p {
  text-align: center;
}

.store-images {
  border-style: outset;
  padding: 10px;
}

.store-tables {
  width: 100%;
  border-style: groove;
  border-width: thin;
}

#bloglist .smalls{
  display: block;
  font-size: 20px;
}

#latest-image {
	display: block;
  width: 100%;
}

#latest-wrap p {
  font-size: x-large;
}

.projects {
  display: inline-block;
}

.smalls a {
  padding-right: 10px;
  padding-left: 10px;
}

.smalls a:visited {
  text-decoration: none;
  color: red;
}

.smalls a:link {
  text-decoration:none;
  color:red;
}

.smalls a:hover {
  background-color: red;
  color:black;
  font-size: 30px;
}

.projects a:link {
text-decoration: none;
color: cornflowerblue;
}

.projects a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

.projects a:hover h2 {
  background-color: red;
  color: black;
  font-size: 26px;
}

#project1-image, #project2-image, #project3-image {
  height: 150px;
}

#project1-image, #project2-image, #project1 h2, #project2 h2 {
  margin-right: 20px;
}

@media screen and (max-width: 570px) {
    #project1-image, #project2-image, #project1 h2, #project2 h2 {
  margin-right: 0px;
}
}

.posts {
  padding-left: 40px;
}

.posts a:link{
text-decoration: none;
color: cornflowerblue;
}

.posts a:visited {
  text-decoration: none;
  color: cornflowerblue;
}

.posts a:hover h2 {
  background-color: red;
  color: black;
  font-size: 26px;
}

.picDescript {
  text-align: center;
  font-style: italic;
  color: deepskyblue;
}

.blogPost img {
  display: block;
  margin: 0 auto;
}

#social {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#social img {
  padding-left: 15px;
  padding-right: 15px;
  width: 40px;
}

#social a:hover img {
  background-color: red;
  color: black;
  width: 50px;
}

.blogNav {
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
}

.blogNav a {
  text-decoration: none;
  font-weight: bolder;
  color: red;
  margin: 20px;
}

.blogNav a:hover {
  background-color: black;
  font-size: 23px;
}

.fb-comment {
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
	font-family: 'Indie Flower', cursive;
}

p {
  font-size: 20px;
}

h1 {
	color: #0f6930;
	font-size: xx-large;
}

small {
	color: red;
	font-size: smaller;
	padding-left: 40px;
}

.postdate {
  display: block;
  color: grey;
  padding: 0;
}

ul {
  list-style: none;
  text-align: center;
}

ul li {
  display: inline;
}

hr {
  margin-top: 20px;
}