* {
  margin: 0;
  padding: 0;
}

#pagewrap {
  max-width: 1100px;
  margin: 10px auto;
  padding: 20px 20px 0;
}

#temp {
 position:relative;
 display: flex;
 background-color: yellow;
 color:blue;
 margin: 100px auto;
 height: 100px;
 width: 100px;
 justify-content:center;
 align-items:center;
 text-align:center;
 border: solid 2px;
 border-color: blue;
 border-radius: 25px;
}